<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.overtech.ems"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.overtech.ems.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.overtech.ems.activity.common.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="pRtgsRZyxmePt5lPifOnVSS4" />

        <activity android:name="com.overtech.ems.activity.BaseActivity" />
        <activity android:name="com.overtech.ems.activity.common.LoginActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.MainActivity" />
        <activity android:name="com.overtech.ems.activity.common.LostPasswordActivity" />
        <activity android:name="com.overtech.ems.activity.common.ResetPasswordActivity" />
        <activity android:name="com.overtech.ems.activity.common.ResetPasswordSuccessActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterAddPersonInfoActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterAddPersonEduAndWorkActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterAddIdCardActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterAddWorkCertificateActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterAddOtherCertificateActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.PersonalDeatilsActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.GrabTaskDoFilterActivity" />
    </application>

</manifest>