<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.overtech.ems"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.overtech.ems.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.overtech.ems.activity.common.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="pRtgsRZyxmePt5lPifOnVSS4" />

        <activity android:name="com.overtech.ems.activity.BaseActivity" />
        <activity android:name="com.overtech.ems.activity.common.LoginActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.MainActivity" />
        <activity android:name="com.overtech.ems.activity.common.LostPasswordActivity" />
        <activity android:name="com.overtech.ems.activity.common.ResetPasswordActivity" />
        <activity android:name="com.overtech.ems.activity.common.ResetPasswordSuccessActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterAddPersonInfoActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterAddPersonEduAndWorkActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterAddIdCardActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterAddWorkCertificateActivity" />
        <activity android:name="com.overtech.ems.activity.common.RegisterAddOtherCertificateActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.personal.PersonalDeatilsActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.grabtask.GrabTaskDoFilterActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.tasklist.ScanCodeActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.grabtask.PackageDetailActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.grabtask.ElevatorDetailActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.personal.PersonalAccountListActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.personal.PersonalBoundsActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.personal.PersonalChangePhoneNoActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.personal.ChangePhoneNoVCActivity" >
        </activity>
        <activity android:name="com.overtech.ems.activity.parttime.personal.ChangePhoneNoInVCActivity" >
        </activity>
        <activity android:name="com.overtech.ems.activity.parttime.personal.ChangePhoneNoSuccessActivity" >
        </activity>
        <activity android:name="com.overtech.ems.activity.parttime.tasklist.QueryTaskListActivity" />
        <activity android:name="com.overtech.ems.activity.parttime.tasklist.QuestionResponseActivity" >
        </activity>
        <activity android:name="com.overtech.ems.activity.parttime.tasklist.EvaluationActivity" >
        </activity>
    </application>

</manifest>